{% load static %}
<html>
    <head>
        <title>{% block title %}Blogs de pylord{% endblock %}</title>
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <!-- <span class="sr-only">(current)</span> -->
                  {% if user.is_authenticated %}
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'posts:list' %}">My posts</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'posts:add' %}">Add post</a>
                    </li>
                  {% else %}
                    
                  {% endif %}

                  <li class="nav-item active">
                    <a class="nav-link" href="#">Explorar</a>
                  </li>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </ul>

                <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Log out</a>
                    </li>
                  {% else %}
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Sign Up</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Sign In</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
        </nav>

        <div class="content-margin content container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://use.fontawesome.com/aa4ffc396e.js"></script>
        <script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>