{% extends 'base.html' %}
{% load static %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
    <h1>Cambiar contraseña</h1>
    
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="was-validated">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field }}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" value="Submit" class="btn btn-primary mt-3">Submit</button>
    </form>
{% endblock %}