{% extends 'base.html' %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <h1>Login</h1>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="was-validated">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field }}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <a href="{% url 'users:reset-password' %}">¿Olvidaste tu contraseña?</a><br>
        <button type="submit" value="Submit" class="btn btn-primary mt-3">Submit</button>
    </form>
{% endblock %}
