/* CSS principal */

/* Main */
.content-margin {
    margin-top: 80px;
}

/* Navbar */
nav {
    background-color: #3776ab;
}

.nav-link {
    color: #ffd343 !important;
}

.navbar-brand {
    color: #ffd343 !important;
}

.nav-form {
    margin-left: 15px;
}

.search-button {
    color: #ffd343;
    border-color: #ffd343;
}

.search-button:hover {
    color: #3776ab;
    background-color: #ffd343;
    border-color: #ffd343;
}

/* Quitar links del card */
.card a {
    color: inherit; 
}

.card a:hover {
    text-decoration: none;
}

/* Style para la lista de post del index */
.post-list-content {
    width: 800px;
    margin: 0 auto;
}


/* Utilidad especìficas */
.post-link a { 
    color: inherit; 
}

.post-link a:hover {
    text-decoration: none;
    color: #0056b3;
}

.post-crud-buttons {
    display: inherit;
}

.post-crud-buttons form {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin: 0 2.5px;
}

.post-container {
    width: 800px;
    margin: auto;
}

.post-container img {
    width: 100%;
}

.post-header {
    font-size: 3.3rem;
}

.post-info {
    font-size: smaller;
    color: #888;
    margin-top: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #265378;
    color: #7399B9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Django CKEditor CSS */
.django-ckeditor-widget {
    margin-top: 20px;
    width: 100%;
}

#cke_id_content {
    width: 100% !important;
}