{% extends 'base.html' %}
{% load static %}

{% block title %}{{ list_title }}{% endblock %}

{% block content %}
    <h1>{{ list_title }}</h1>
    
    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="post-link">
                    <a href="{% url 'posts:get' post.pk %}" class="post-link">{{ post.title }}</a>
                </div>
                <div class="post-crud-buttons">
                    <form action="{% url 'posts:edit' post.pk %}">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>        
                    </form>
                    <form action="/">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>    
                    </form>
                </div>
                <!-- <span class="badge badge-primary badge-pill">

                </span> -->
            </li>
            <!-- <a href="{% url 'posts:get' post.pk %}" class="list-group-item list-group-item-action"></a> -->
            <!-- <span class="badge badge-primary badge-pill">14</span> -->
        {% endfor %}
    </ul>

{% endblock %}