{% extends 'base.html' %}
{% load static %}

{% block title %}Add Post{% endblock %}

{% block content %}
    <h1>Postea aquí</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            {% if field.name == 'image' %}
                <div class="custom-file">
                    {{ field }}
                    <label class="custom-file-label" for="id_image" id="imagePostLabel">{{ field.label }}</label>
                    {{ field.errors }}
                </div>
            {% else %}
                <div class="form-group">
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}